{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
  {{ parent() }}


  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="text-center">
        {% if img is defined and img is not null %}
            <img id="tempImage" width="40%" class="border border-dark rounded m-2"
            src={{ asset(img) }}/>
        {% else %}
            <img id="tempImage" width="40%" class="border border-dark rounded m-2"
            src={{ asset('uploads/images/default_image.jpeg') }}/>
        {% endif %}

    </div>
    {{ form_label(form.title, 'Tytuł:') }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title) }}

    {% if form.user is defined %}
        {{ form_label(form.user, 'Autor:') }}
        {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
    {% endif %}

    {% if form.createdAt is defined %}
        {{ form_label(form.createdAt, 'Data utworzenia (dd-mm-rrrr):') }}
        {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}})}}
        {{ form_errors(form.createdAt) }}
    {% endif %}

    {% if form.isPublished is defined %}
        {{ form_label(form.isPublished, 'Opublikowano:') }}
        {{ form_widget(form.isPublished, {'attr': {'class': 'form-check'}}) }}
    {% endif %}

    {{ form_label(form.body, 'Treść:') }}
    {{ form_widget(form.body, {'attr': {
      'class': 'form-control',
      'rows': 5,
    }}) }}

    <!-- TODO: wystylować poniższe -->
    {{ form_label(form.image) }}
    {{ form_widget(form.image, {'attr': {'onchange': 'loadImage(event)'}}) }}
    {{ form_errors(form.image) }}

    {{ form_row(form.tags) }}
  <div>
    {{ form_widget(form.save, {
      'attr': {'class': 'btn btn-primary'},
      'label': 'Zapisz zmiany'
      })
    }}
  {{ form_end(form) }}

    <!-- TODO: wystylować bootstrapem -->
    <a href={{ path('article_list') }} class="btn btn-link" style="float: right;">Anuluj</a>
  </div>
{% endblock %}

{% block javascripts %}
    <script>
        var loadImage = function(e) {
            var image = document.getElementById('tempImage');
            image.src = URL.createObjectURL(e.target.files[0]);
        };
    </script>
{% endblock %}
