{% extends 'base.html.twig' %}

{% block title %}Lista Artykułów{% endblock %}

{% block body %}

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {% if articles %}
    <table id="articles" class="table table-striped">
      <thead>
        <tr>
          <th>Tytuł</th>
          <th>Autor</th>
          <th>Utworzono</th>
          <th>Opublikowano</th>
          <th>Fragment</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.authorEmail }}</td>
            <td>{{ article.createdAt|date('d-m-Y') }}</td>
            <td>{{ article.isPublished ? 'Tak' : 'Nie' }}</td>
            <td>{{ article.body|truncate(100, true, '(...)')|wordwrap(30)|nl2br }}</td>
            <td>
              <a href={{ path('article_show', { 'articleID': article.id })}} class="btn btn-primary">Pokaż</a>

              {% if is_granted('ROLE_ADMIN') %}
                <a href={{ path('edit_article', { 'id': article.id })}} class="btn btn-light">Edytuj</a>
                <a href={{ path('delete_article', {'id': article.id }) }}
                class="btn btn-danger delete-article" onclick="return confirm('Czy jesteś pewny?')">Usuń</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>Brak artykułów</p>
  {% endif %}
{% endblock %}
