{% extends 'base.html.twig' %}

{% block title %}Lista Artykułów{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="modal fade" id="articleDeleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Usuń artykuł</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form action={{ path('delete_article') }} method="post">
              <p>Czy na pewno chcesz usunąć ten artykuł?</p>
              <input type="hidden" name="article_id" id="artcl_id" value="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
          </div>
        </div>

      </div>
    </div>

        <div class="d-flex flex-row mb-3">
            <div class="p-2">
            <input form="filters" type="date" id="dateFrom" name="dateFrom" value="{{ app.request.get('dateFrom') }}" class="form-control">
        </div>

            <div class="p-2">
            <input form="filters" type="date" id="dateTo" name="dateTo" value="{{ app.request.get('dateTo') }}" class="form-control">
        </div>
            <div class="p-2">
            <input form="filters" type="submit" value="Filtruj" class="btn btn-outline-success">
        </div>
        <div class="ml-auto p-2">
            <select form="filters" id="sort" name="sort" class="form-control m-2" onchange="this.form.submit();">
                <option value="" selected disabled hidden><p class="text-muted">Sortuj wyniki...<p></option>
                {% for method, name in options['sortOptions'] %}
                        <option value="{{ method }}" {% if method == metadata['sort'] %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-center my-3">
        {{ '[ Wyświetlane ' ~ articles.getIterator.count ~ ' z ' ~ articles.count ~ ' ]' }}
    </div>

    {% if articles.count > 0 %}
        <table id="articles" class="table table-striped">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Utworzono</th>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <th>Publikacja</th>
                    {% endif %}
                    <th>Fragment</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title|truncate(50, true, '(...)')|wordwrap(30)|nl2br }}</td>
                        <td>{{ article.user.email }}</td>
                        <td>{{ article.createdAt|date('d-m-Y') }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                {% if article.isPublished %}
                                    <a href={{ path('de_publish_article', {'id': article.id}) }}
                                    class="btn btn-outline-danger btn-sm">Depublikuj</a>
                                {% else %}
                                    <a href={{ path('de_publish_article', {'id': article.id}) }}
                                    class="btn btn-outline-success btn-sm">Opublikuj</a>
                                {% endif %}
                            </td>
                        {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <td>
                                {{ article.isPublished ? 'Tak' : 'Nie' }}
                            </td>
                        {% endif %}
                        <td>{{ article.body|truncate(100, true, '(...)')|wordwrap(30)|nl2br }}</td>
                        <td class="d-flex justify-content-center">
                            <a href={{ path('article_show', {'id': article.id}) }}
                                class="btn btn-outline-primary btn-sm">Pokaż</a>

                            {% if is_granted('ROLE_ADMIN') or app.user is same as(article.user)  %}
                                <a href={{ path('edit_article', {'id': article.id}) }}
                                    class="btn btn-outline-dark btn-sm">Edytuj</a>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                    data-target="#articleDeleteModal" data-articleid="{{ article.id }}">Usuń
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak artykułów</p>
    {% endif %}

    <div class="d-flex justify-content-start">
        <div class="p-2"><p>Ilość artykułów na stronie: </p></div>
        <div class="p-2">
            <select name="perPage" id="perPage" form="filters" onchange="this.form.submit()" class="form-control">
                {% for number in options['perPageOptions'] %}
                    {% if number == metadata['perPage'] %}
                        <option value="{{ number }}" selected>{{ number }}</option>
                    {% else %}
                        <option value="{{ number }}">{{ number }}</option>
                    {% endif %}
                {% endfor %}
                <!-- <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option> -->
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <!-- <form action="{{ path('article_list') }}" id="currP" name="currP"> -->
            {% if articles.count > 0 %}
                <nav>
                    <ul class="pagination">
                        {% if metadata['currentPage'] != 1 %}
                            <li class="page-item m-2">
                                <a href="{{ path('article_list', metadata|merge({'currentPage': 1})) }}"
                                    class="page-link">Pierwsza
                                </a>
                            </li>
                        {% endif %}
                        {% for i in 1..(articles.count / metadata['perPage'])|round(0, 'ceil') %}
                            <li class="page-item m-2">
                                <a href="{{ path('article_list', metadata|merge({'currentPage': i})) }}"
                                    class="page-link">{{ i }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if metadata['currentPage'] != (articles.count / metadata['perPage'])|round(0, 'ceil') %}
                            <li class="page-item m-2">
                                <a href="{{ path('article_list',
                                    metadata|merge({'currentPage': (articles.count / metadata['perPage'])|round(0, 'ceil')})) }}"
                                    class="page-link">Ostatnia
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        <!-- </form> -->
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#articleDeleteModal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            var article_id = button.data('articleid');
            var mdl = $(this);

            mdl.find('.modal-body #artcl_id').val(article_id);
        });
    </script>
{% endblock %}
