{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_label(form.title, 'Tytuł:') }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title) }}
  <!-- tutaj email, żeby nie rozbudowywać (na razie??) usera o dodatkowe pole "name" -->
    {{ form_label(form.user, 'Autor:') }}
    {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.user) }}

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
      <div class="col">{{ form_label(form.createdAt, 'Data utworzenia (rrrr-mm-dd):') }}</div>
      <div class="col">{{ form_widget(form.createdAt.year, {'attr': {'class': 'form-control'}}) }}</div>
      <div class="col">{{ form_widget(form.createdAt.month, {'attr': {'class': 'form-control'}}) }}</div>
      <div class="col">{{ form_widget(form.createdAt.day, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    {{ form_errors(form.createdAt) }}

    <table><tr>
      <td>{{ form_label(form.isPublished, 'Opublikowano:') }}</td>
      <td style="padding-left: 10px">{{ form_widget(form.isPublished, {'attr': {'class': 'form-check'}}) }}</td>
    </tr></table>

    {{ form_label(form.body, 'Treść:') }}
    {{ form_widget(form.body, {'attr': {'class': "form-control h-200"}}) }}
    {{ form_errors(form.body) }}
  <div>
    {{ form_widget(form.add, {
      'attr': {'class': "btn btn-primary"},
      'label': 'Dodaj'
      })
    }}
  {{ form_end(form) }}

  <a href={{ path('article_list') }} class="btn btn-link" style="float: right;">Anuluj</a>
</div>
{% endblock %}
